version: '3.9'

services:
  app:
    build: .
    ports:
      - "3003:3003"
    environment:
      - PORT=3003
      - NODE_ENV=production
      - APP_ENV=prod
      - DATA_DIR=/app/data
    volumes:
      - ./data:/app/data
    restart: unless-stopped
