version: '3.9'

services:
  app:
    build:
      context: .
      target: runner
    image: action-logger:prod
    ports:
      - "3003:3003"
    restart: unless-stopped
    environment:
      PORT: 3003
      NODE_ENV: production
      APP_ENV: prod
      DATA_DIR: /app/data
    volumes:
      - app-data:/app/data

volumes:
  app-data:
